@use '../../style/service.scss' as s;

.meals {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
  .meals-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    &__title-block {
      z-index: 0;
      padding: 1rem;
      display: block;
      width: 100%;
      background-image: url('../../assets/title_block_bg.svg');
      background-size: cover;

      &__inner {
        z-index: 1;
        padding: 2rem;
        background-color: s.color(black_2);
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media all and (width < s.screen(mobile)) {
          flex-direction: column;
          gap: 1rem;
        }
      }
    }
    &__title-text {
      font-size: 2rem;
      color: s.color(white);
      font-weight: normal;
      text-align: center;
    }
    &__title-signs {
      font-size: 1.5rem;
      color: s.color(text);
      font-weight: lighter;
    }

    &__grid {
      padding: 0 2rem;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 2rem;

      @media all and (width < s.screen(mobile)) {
        padding: 0;
      }
    }
    .meal-card {
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);

      // @media all and (width < s.screen(mobile)) {
      //   max-width: 200px;
      // }
      .img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 0.5rem;
      }
    }
  }
}
