@use '../../style/service.scss' as s;

.meals {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  .meals-container {
    @include s.meals-container;

    &__grid {
      padding: 0 2rem;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 2rem;

      @media all and (width < 250px) {
        padding: 0 1rem;
      }
    }
    .meal-card {
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);

      &__ingredient {
        font-size: 0.8rem;
        line-height: 1.2;
        list-style: none;
      }
      .img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 0.5rem;
      }
    }
  }
}
