@mixin constructor {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 1rem;

  &__item {
    width: clamp(200px, 30%, 500px);
    max-width: 500px;
    .meal-card {
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
      .img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 0.5rem;
      }
      .sushi__image {
        background-image: url('../../public/assets/roll.jpg');
      }
      .pizza__image {
        background-image: url('../../public/assets/pizza.jpg');
      }
    }
  }
}
