@use './style/service.scss' as s;
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  line-height: 1.2;
  background-color: s.color(background);
}

header {
  @include s.header;
}

.page {
  @include s.page;
}

.page__content {
  @include s.page__content;
}
