@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  line-height: 1.2;
}

header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.page {
  display: flex;
  justify-content: center;
}

.page__content {
  width: 100%;
}
@media all and (width < 1440px) {
  .page__content {
    max-width: 1440px;
  }
}
@media all and (width < 1260px) {
  .page__content {
    max-width: 1260px;
  }
}
@media all and (width < 1000px) {
  .page__content {
    max-width: 1000px;
  }
}
@media all and (width < 620px) {
  .page__content {
    max-width: 620px;
  }
}